.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
  align-content: center;
  /* justify-content: space-between; */
  /* align-items: center; */
  height: 100vh;
}

.box {
  height: 100px;
  width: 100px;
  margin: 10px;
  background-color: red;
}